DEPLOY_SERVER=user@YOUR_SERVER_IP
DEPLOY_REMOTE_DIST=/var/www/converge/dist/
DEPLOY_REMOTE_PROJECT=/home/user/converge2
DEPLOY_PRIVATE_KEY_PATH=/home/you/.ssh/id_rsa
DEPLOY_GITHUB_PAT=ghp_xxxx
DEPLOY_GITHUB_REPO=sr1k5/converge2
